:root{
    --primary: #52ADA2;
    --secondary: #ADDCCA;
    --background-color-rgb: 0, 0, 0;
}

*{
    font-family: "Poppins", sans-serif;
}

.text-black{
color: #202020;
}

.nav-link{
    color:var(--primary);
}

.nav-link:hover{
    color: #035336;
}

.titulo{
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
    color: var(--secondary);
    font-size: 20px;
    font-weight: bold;
}

.btn-primary:hover{
    background: var(--secondary);
}

.title-card{
    color: var(--primary);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: var(--primary);
}

.btn-primary{
    background: var(--primary);
    border: none;
}

#hero{
    background-image: url('/img/hero.jpg');
    width: 100%;
    min-height: 80vh;
    background-size: cover;
}